h2 {
  text-align: center;
  font-size: 38px;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}
.button {
  height: 40px;
  width: 40px;
  font-size: 40px;
  text-align: center;
  color: white;
  cursor: pointer;
}
p {
  cursor: pointer;
}
p:hover {
  color: rgb(229, 9, 20);
}
.results {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.title {
  color: rgb(229, 9, 20);
  font-size: 36px;
  text-align: center;
}
.services {
  display: flex;
  flex-flow: column;
  font-size: 18px;
  justify-content: left;
  align-items: left;
  margin-bottom: -10px;
}
p {
  font-size: 30px;
  margin-bottom: -10px;
}
.results {
  display: flex;
  flex-direction: column;
}
