body {
  background: rgb(134, 132, 132);
  background: linear-gradient(
    187deg,
    rgba(134, 132, 132, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 40px;
}
