a :hover {
  color: rgb(229, 9, 20);
}

.things {
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 45px;
  margin-bottom: 40px;
}

.things :hover {
  color: rgb(229, 9, 20);
}
