a :hover {
  color: rgb(229, 9, 20);
}

.links {
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 45px;
  margin-bottom: 40px;
  flex-flow: row;
}

.links :hover {
  color: rgb(229, 9, 20);
}

span :hover {
  color: white;
}
